[Desktop Entry]
Version=1.0
Type=Application
Name={{ chatgpt_launcher.name }}
Exec=/usr/bin/google-chrome-stable --class={{ chatgpt_launcher.wm_class }} --app={{ chatgpt_launcher.url }}
TryExec=/usr/bin/google-chrome-stable
Icon=google-chrome
Terminal=false
Categories=Network;
StartupNotify=true
StartupWMClass={{ chatgpt_launcher.wm_class }}
