background {
    monitor =
    path = {{ workstation_home }}/Pictures/mrdemonwolf-desktop-wallpaper.png
    color = rgb(091533)
    blur_passes = 0
}

label {
    text = $TIME
    text_align = center
    font_size = 64
    font_family = Sans
    position = 0, 80
    halign = center
    valign = center
}

input-field {
    size = 320, 56
    outline_thickness = 2
    dots_size = 0.2
    dots_spacing = 0.64
    dots_center = true
    outer_color = rgba(00acedee)
    inner_color = rgba(091533ee)
    font_color = rgb(f5f7ff)
    fade_on_empty = false
    placeholder_text = <i>Enter password</i>
    position = 0, -30
    halign = center
    valign = center
}
