[Desktop Entry]
Version=1.0
Type=Application
Name=LibrePods
Comment=Start LibrePods minimized after the desktop is ready
Exec="{{ librepods.path }}" --start-minimized
TryExec={{ librepods.path }}
Icon=bluetooth
Terminal=false
Categories=AudioVideo;Utility;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=30
OnlyShowIn=GNOME;
